@media screen and (min-width: 600) and (max-width: 850px) {
    .container {
        padding: .4rem;
        box-shadow: 10px 10px 10px $black;
    }
    .title {
        font-size: 2rem;
        i {
            font-size: 4rem;
        }
        h1 {
            margin: 0 10px;
            text-shadow: 0px 1px $black, 0 7px $black;
        }
    }
    .game {
        height: 450px;
        width: 580px;
        padding: 10px 15px 0 15px;
    }
    .square {
        height: 25px;
        width: 25px;
    }
    #movesLeft {
        h3 {
            font-size: 1.1rem;
        }
        #currMovesLeft {
            font-size: 2.5rem;
        }
    }
}